/*Header line codes*/
header {
  width: 100%;
  margin: 0;
  height: 140px;
  border-bottom: solid;
  border-bottom-width: 4px;
  border-color: aliceblue;
  display: flex;
  align-items: center;
  box-shadow: color-mix(in srgb, black 80%, blue 20%);
}

header h1 {
  margin: 5%;
  font-weight: bold;
  flood-opacity: 100%;
  color: white;
  margin-left: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 100px;
}

/*Body line codes*/

body {
  background-image: url("background.png");
  background-color: #464646;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100%;
}

body .container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  align-content: stretch;
}

body .container .left {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
  border-style: dashed;
  height: 560px;
}

body .container .right {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 110px;
  border-style: dashed;
}

/*Footer line codes*/
footer {
  width: 100%;
  border-style: dashed;
}
