/*Header line codes*/
header {
  width: 100%;
  margin: 0;
  height: 140px;
  border-bottom: solid;
  border-bottom-width: 4px;
  border-color: aliceblue;
  display: flex;
  align-items: center;
  background-color: #0000006e;
}

header h1 {
  margin: 5%;
  font-weight: bold;
  flood-opacity: 100%;
  color: white;
  margin-left: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 100px;
}

header .glow {
  text-shadow: 0 0 7px #c800ff, 0 0 10px #c800ff, 0 0 21px #e045cb,
    0 0 42px #e045cb, 0 0 82px #e045cb;
}

/*Body line codes*/

body {
  background: #ffffff url("background.png") center center/cover no-repeat fixed;
  background-size: auto 100%;
  background-color: #464646;
  max-height: auto;
  margin: 0;
  padding: 0;
}

body .container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  align-content: stretch;
  height: auto;
}

body .container p {
  color: #e6e6e6;
  font-size: 30px;
}

body .container .left {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  border-style: dashed;
  height: auto;
  flex-basis: 20%;
  background-color: #0000006e;
  -webkit-box-shadow: 50px 0px 45px -2px rgba(0, 0, 0, 0.48);
  box-shadow: 50px 0px 45px -2px rgba(0, 0, 0, 0.48);
}

body .container .right {
  display: flex;
  flex-grow: 1;
  flex-shrink: 1;
  border-style: dashed;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

/* Add this style in your CSS */
.menu-btn {
  background: linear-gradient(to right top, #c800ff, #e045cb);
  border: none;
  color: black;
  padding: 10px 20px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 16px;
  transition: 0.3s;
  font-size: 25px;
  width: fit-content;
}

.menu {
  display: none;
  border: solid gray;
  width: fit-content;
}

.menu h2 {
  color: white;
}
/*Body link line codes*/

body .container .left .links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
}

body .container .left .links .capsule a {
  background: linear-gradient(to right top, #c800ff, #e045cb);
  border: none;
  color: black;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 16px;
  transition: 0.3s;
  font-size: 25px;
}

body .container .left .links .capsule a:hover {
  background: linear-gradient(to right top, #d52bf3, #ff47e6);
  color: white;
}

body .aboutme {
  color: #ffffff;
}

body .star {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

/*Footer line codes*/

footer {
  width: 100%;
  border-top: solid;
  border-color: rgb(134, 134, 134);
  color: #ffffff;
  background-color: #0000006e;
  font-size: 21px;
  text-align: center;
}
